<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=172.17.16.14;Initial Catalog=ICTV3;User ID=sa;Password=Welcome99;trustservercertificate=True;" providerName="System.Data.SqlClient" />
    <add name="HRMISv2Entities" connectionString="metadata=res://*/HRMISEntites.HRMISv2Entities.csdl|res://*/HRMISEntites.HRMISv2Entities.ssdl|res://*/HRMISEntites.HRMISv2Entities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.17.16.14;initial catalog=HRMISv2;user id=sa;password=Welcome99;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="OFMISEntities" connectionString="metadata=res://*/OFMISEntities.OFMISEntites.csdl|res://*/OFMISEntities.OFMISEntites.ssdl|res://*/OFMISEntities.OFMISEntites.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.17.16.14;initial catalog=OFMIS;persist security info=True;user id=sa;password=Welcome99;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v15.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>